.skill {
	display: grid;
	grid-template-rows: auto 1fr;
	height: 100%;
}
.skill-children {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 0.5rem;
	margin-top: 1rem;
	overflow: auto;
}

.skill-children::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}
.skill-children::-webkit-scrollbar-track {
	background-color: #fff2;
	border-radius: 5px;
}
.skill-children::-webkit-scrollbar-thumb {
	background-color: #fff4;
	border-radius: 5px;
}

.skill-list {
	overflow: auto;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
	gap: 0.5rem;
	margin-top: 1rem;
	border-radius: 1rem;
}
.skill-list__item {
	padding: 0.5rem;
	border-radius: 0.5rem;
	background-color: #fff1;

	display: flex;
	align-items: center;
	gap: 0.5rem;
	user-select: none;
}
.skill-list__item img {
	width: 40px;
	height: 40px;
	object-fit: contain;
	object-position: center;
}
